@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(162, 217, 243);
    text-align: center;
    margin: 0;
}
h1{
    margin-bottom: 0;
    /* background-color: #fff; */
    background-color: rgb(169, 197, 233);
    border-radius: 4px;

}

form{
    background-color: #fff;
    max-width: 450px;
    margin: 40px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgb(216, 167, 167);
    border-radius: 3px;
}


.form-control{
    text-align: left;
    margin-bottom: 20px;
} 

.form-control label{
margin-bottom: 6px;
display: block;

}

.form-control input, 
.form-control select,
.form-control textarea{
    border: 1px solid #777;
    border-radius: 3px;
    font-family:inherit;
    padding: 10px;
    display: block;
    width: 100%;
}

.form-control input[type='radio'] , .form-control input[type='checkbox'] {
display: inline-block;
width: auto;
}

button{
    background-color: rgb(211, 202, 230);
    display: block;
    margin: auto;
    width: 100%;
    font-size: 15px;
    font-family: inherit;
    padding: 8px;
    border: 1px solid rgb(226, 130, 226);
}
